:root {
    --bg-color: #FFAC27;
    --black: #000000;
    --white: #ffffff;


    --marginDesktop: 1vw;
    --marginMobile: 4vw;
}

@font-face {
    font-family: 'Sherman-Display';
    src: url('data/Sherman-Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal-Regular';
    src: url('data/font/PPNeueMontreal-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url('data/font/PPNeueMontreal-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('data/font/PPNeueMontreal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-moz-selection { /* Code for Firefox */
    color: var(--bg-color);
    background: var(--black);
  }
  
  ::selection {
    color: var(--bg-color);
    background: var(--black);
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    font-size: 18px;
}

.small-p {
    font-size: 16px;
}

h3 {
    font-family: 'PPNeueMontreal-Medium', sans-serif;
    font-size: 24px;
}

hr {
    border-top: 1px solid var(--black);
    border-bottom: none;
}

.bold {
    font-family: 'PPNeueMontreal-Medium', sans-serif;

}

.underline{
    text-decoration: underline;
}

.small-p {
    font-size: 18px;
}


/*Header*/
header {
    margin: 0 var(--marginDesktop);
    margin-top: var(--marginDesktop);
    flex-direction: column;
    margin-bottom: 0 !important;
    justify-content: space-between;
}

header p {
    cursor: pointer;
    margin: calc(var(--marginDesktop) * 0.75) 0;
}

header p:hover {
    font-weight: bold;
    transition: font-weight 0.5s ease;
}

.navHeader-container {
    display: flex;
    justify-content: space-between;
}

.navHeader {
    display: flex;
    gap: var(--marginDesktop);
}

.header-socialMedia p {
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

.navHeader-element {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.navHeader-element:hover {
    transform: scale(0.95);
    transition: transform 0.5s ease;
}


/*Footer*/

footer {
    margin: 0 var(--marginDesktop);
    margin-bottom: var(--marginDesktop);
}

.footerMain {
    display: flex;
    justify-content: space-between;
}

.hrFooter{
    display: none;
}

footer p {
    font-family: 'PPNeueMontreal-Book', sans-serif;
}

.footer-container {
    display: flex;
    gap: calc(var(--marginDesktop)* 4);
    margin-top: var(--marginDesktop);
}

#newsletterFooter-input {
    font-family: 'PPNeueMontreal-Book', sans-serif;
    height: var(--marginDesktop);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 5px 0;
    width: 15vw;
}

#newsletterFooter-button {
    height: max-content;
    background-color: transparent;
    border: 1px solid var(--black);
    font-family: 'PPNeueMontreal-Book', sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
}

.newslettercontent {
    display: flex;
    gap: var(--marginDesktop);

}

.newslettercontent-flex {
    display: flex;
    gap: var(--marginDesktop);
    align-items: flex-end;
}

.newsletter-container {
    margin-top: var(--marginDesktop);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/**/
.agendaItem-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--marginDesktop);
    margin-top: var(--marginDesktop);
    justify-content: center;
}

.agendaItem {
    width: calc((100vw - var(--marginDesktop) * 4) / 3);
    height: calc((100vw - var(--marginDesktop) * 4) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%; /* Add this line to make the div circular */
    overflow: hidden; /* Add this line to ensure the image stays within the circular div */
}

.agendaItem-image {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.agendaItem:hover .agendaItem-image {
    opacity: 0.5;
}

.text-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    fill: none;
}

path#textPath {
    fill: none;
    stroke: transparent;
}

.mainText {
    font-family: 'Sherman-Display', sans-serif;
    font-size: 15px;
    fill: var(--black);
    letter-spacing: .05rem;
}

.eventDetails {
    font-family: 'Sherman-Display', sans-serif;
    font-size: 10px;
    fill: var(--white);
    opacity: 0;
    transition: opacity 0.5s ease;
    letter-spacing: .05rem;
}

.agendaItem:hover .eventDetails {
    opacity: 1;
}

.agendaItem:hover .text-circle {
    transition: transform 0.5s ease;
    transform: rotate(5deg);
}

.agendaItem .text-circle {
    transition: transform 0.5s ease;
}

.agendaItem:hover {
    cursor: pointer;
}

.circleText {
    overflow: visible;
}



/*Index*/
.indexScreen-carousel {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar in Firefox */
    transition: transform 0.7s ease;
    height: calc(var(--vh, 1h)* 90);
}

/* Hide scrollbar in WebKit-based browsers */
.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.img-container {
    min-width: 100vw;
    height: calc(var(--vh, 1h)* 90);
    
}

.imgMobile{
    display: none;
}

.imgDesktop{
    display: block;
}

.imgDesktop:first-child .carousel-image,
.imgMobile:first-child .carousel-image {
    object-fit: contain;
}

.carousel-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    transition: transform 0.7s ease;
}


.indexScreen-slides {
    width: 100%;
    position: absolute;
    bottom: calc(var(--marginDesktop) * 2);
    display: flex;
    justify-content: center;
    gap: calc(var(--marginDesktop) / 2);
}

.slide {
    border: 1px solid var(--black);
    width: 14px;
    height: 14px;
    border-radius: 100%;
    cursor: pointer;
}

.slidesSelected {
    background-color: var(--black);
}


/*Teatro*/
.mainTeatro {
    margin: var(--marginDesktop);
}

.imageTeatro {
    width: 100%;
    height: calc(var(--vh, 1h)* 90);
    position: relative;
    overflow: hidden;
}

.imageTeatro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.imageTeatro img.active {
    opacity: 1;
}


.teatroInfo-container hr {
    margin: var(--marginDesktop) 0;
}

.moreInfoTeatro {
    width: calc(100vw - var(--marginDesktop)* 2);
    display: flex;
    gap: var(--marginDesktop);
}

.moreInfoTeatro div {
    width: calc((100vw - var(--marginDesktop)* 2) / 3);
}

.infoTeatro-open-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.infoTeatro-open-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
}


.infoTeatro-open-content.show {
    max-height: 999px;
    transition: max-height 0.5s ease-out;
}

.hrNone{
    display: block;
}



/*Event-Single*/
.agendaSingle-main {
    margin: var(--marginDesktop);
}

.eventInfo hr {
    margin: var(--marginDesktop) 0;
}

.eventInfo {
    display: flex;
    gap: var(--marginDesktop);
}

.eventInfo-1 {
    width: 25%;
}

.eventInfo-2 {
    width: 50%;
}

.agendaItem-container-single {
    display: flex;
    flex-wrap: wrap;
    gap: var(--marginDesktop);
    margin-top: var(--marginDesktop);
}

.agendaItem-single {
    height: 45vw;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.agendaItem-image-single {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
}


.mainText-single {
    font-family: 'Sherman-Display', sans-serif;
    font-size: 65px;
    fill: var(--white);
    letter-spacing: .05rem;
}

.eventTitle-single {
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.eventTitle-single svg {
    width:90vw;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}



.agendaImage-single {
    display: flex;
    justify-content: space-between;
}




@media only screen and (max-width: 700px) {
    p {
        font-family: 'PPNeueMontreal-Book', sans-serif;
        font-size: 16px;
    }

    .small-p {
        font-size: 16px;
    }

    h3 {
        font-family: 'PPNeueMontreal-Medium', sans-serif;
        font-size: 20px;
    }

    /*Footer*/
    .footerMain {
        flex-direction: column-reverse;
    }

    footer {
        margin: 0 var(--marginMobile);
        margin-bottom: var(--marginMobile);
    }

    .footer-container {
        display: flex;
        gap: calc(var(--marginMobile));
        margin-top: var(--marginMobile);
        flex-direction: column;
    }

    .newslettercontent {
        display: flex;
        gap: calc(var(--marginMobile) / 2);
        align-items: flex-start;
        flex-direction: column;
    }

    .hrFooter{
        display: block;
    }

    .newsletter-container{
        margin-bottom: var(--marginMobile);
        margin-top: var(--marginMobile);
        gap: var(--marginMobile);
    }

    .newslettercontent-flex {
        display: flex;
        gap: var(--marginMobile);
        align-items: flex-end;
        width:100%;
    }

    #newsletterFooter-input {
        width: 90%;
    }

    /*Header*/
    header {
        margin: 0 var(--marginMobile);
        margin-top: var(--marginMobile);
    }

    header p {
        margin: calc(var(--marginMobile) * 0.75) 0;
        font-size: 18px !important;
    }

    .header-socialMedia {
        display: none;
    }

    .navHeader {
        width: 100%;
        justify-content: space-between;
    }

    /*Index*/
    .indexScreen-carousel {
        width: 100vw;
        height: calc(var(--vh, 1h)* 90);
        display: flex;
    }

    .carousel-container {
       /* transform: translateY(calc(-1 * (15px + var(--marginMobile) * 2)));*/
        display: flex;
        align-items: center;
        height: 100%;
    }

    .indexScreen-slides {
        width: 100%;
        position: absolute;
        bottom: calc(var(--marginMobile));
        display: flex;
        justify-content: center;
        gap: calc(var(--marginMobile));
    }

    .imgMobile{
        display: block;
    }

    .imgDesktop{
        display: none;
    }

    .carousel-image {
        object-fit: cover;
    }

    .agendaItem-single {
        height: 90vw;
        width: 90vw;
    }

    .agendaImage-single {
        flex-direction: column;
    }

    .eventTitle-single svg{
        position: initial;
    }

    .eventTitle-single {
        width: 100%;
    }


    /*about*/
    .mainTeatro {
        margin: var(--marginMobile);
    }

    .teatroInfo-container hr {
        margin: calc(var(--marginMobile)) 0;
    }

    .moreInfoTeatro {
        width: calc(100vw - var(--marginMobile));
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .moreInfoTeatro div {
        width: calc(100vw - var(--marginMobile));
    }

    .hrNone{
        display: none;
    }

    .aboutTeatro{
        margin-top: calc(var(--marginMobile));
    }

    
    .imageTeatro {
        width: 100%;
        height: calc(var(--vh, 1h)* 40);
        position: relative;
        overflow: hidden;
    }

    /*agenda*/
    .agendaItem {
        width: calc((100vw - var(--marginDesktop)* 4));
        height: calc((100vw - var(--marginDesktop)* 4));
    }

    /*agenda-single*/
    .agendaSingle-main {
        margin: var(--marginMobile);
    }

    .agendaImage-single {
        flex-direction: column;
        gap: var(--marginMobile);
    }

    .eventInfo {
        flex-direction: column;
    }

    .eventInfo-1 {
        width: 100%;
    }

    .eventInfo-2 {
        width: 100%;
    }

    .eventInfo hr {
        margin: var(--marginMobile) 0;
    }
}